.modal {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background;
  border-radius: 25px;
  box-shadow: $shadow-morph-6px-outset;
  padding: 5%;

  animation: 0.3s bounce-in ease-in-out forwards;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & p {
    color: #fff;
  }

  &__title {
    color: #fff;
    font-size: 40px;
    margin-bottom: 15px;

    &--home {
      font-size: 55px;
      transition: 0.3s;

      &:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6);
        transition: 0.3s;
      }
    }
  }

  &__subtitle {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__glass {
    background-color: #fff;
    width: 100%;
    height: 100%;
    filter: blur();
    opacity: 0.5;
  }

  &__buttons {
    margin-top: 60px;
  }

  &--main {
    //  height: 70%;
    box-shadow: none;
    //  background-color: transparent;
  }

  &--mini-map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    //  width: 70%;
    //  height: 75%;

    width: 350px;
    height: 150px;

    & .btn-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;

      //   margin-top: 30px;
      button {
        margin-right: 40px;
        padding: 20px 30px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
    @media screen and (max-width: 1440px) {
      width: 25%;
    }
    @media screen and (max-width: 1024px) {
      width: 30%;
    }
    @media screen and (max-width: 768px) {
      width: 35%;
    }
    @media screen and (max-width: 425px) {
      width: 60%;
    }
  }

  &--result {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 25%;
    height: 60%;

    & .score {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      width: 100%;
    }

    & .progressbar {
      position: relative;
      width: 100%;
      height: 10px;
      border-radius: 4px;
      background-color: $label-grey;
      overflow: hidden;

      & .bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #40f3c6;
        transition: 1.2s ease-in-out all;
      }

      & .numbers {
      }
    }

    & > .btn-wrapper {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-top: 30px;
    }

    & button {
      padding: 10px 40px;

      &.exit:hover {
        box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25), -6px -6px 12px rgba(255, 255, 255, 0.05);
      }
    }
    & .exit {
      margin-left: 20px;
      background-color: #9eecd9;
      color: #000;
    }
    & .result-text {
      text-align: center;
      color: #fff;
      font-size: 20px;
      margin-top: 20px;
    }
    & .emoji {
      color: #fff;
      font-size: 60px;
    }

    @media screen and (max-width: 1440px) {
      width: 30%;
      height: 50%;
    }
    @media screen and (max-width: 1024px) {
      width: 40%;
      height: 50%;
    }
    @media screen and (max-width: 768px) {
      width: 50%;
      height: 50%;
    }
    @media screen and (max-width: 425px) {
      width: 80%;
      height: 50%;
    }
  }

  &--info {
    position: absolute;
    left: 10px;
    //  top: 40px;
    top: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
    height: 70px;
    padding: 10px;
    color: #fff;
    font-weight: 700;

    & .lvl {
      padding: 5px 10px;
      background-color: #2fb8ff;
      border-radius: 50px;
      color: #fff;

      box-shadow: 0px 0px 17px $gradient-color1;
    }
    @media screen and (max-width: 1440px) {
      width: 40%;
    }
    @media screen and (max-width: 900px) {
      width: 40%;
    }
    @media screen and (max-width: 550px) {
      width: 60%;
    }
  }
  &--warning {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    width: 35%;
    height: 30%;
    & > .btn-wrapper {
      margin-top: 20px;
    }
    & button {
      margin-left: 20px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.07);
  }

  100% {
    transform: scale(1);
  }
}
