@import '../variables.scss';

.pizza-block {
  cursor: pointer;
  width: 280px;
  text-align: center;
  margin-bottom: 65px;
  position: relative; 

  &:not(:nth-of-type(4n)) {
    // margin-right: 35px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &__image {
    display: block;
    width: 260px;
    height: 260px;    
      

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 7px 6px;
    
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
  &__skeleton {
    margin-bottom: 51px;
    margin-right: 35px;
  }
  &__fire {
    opacity: 0;
    & path {
      fill: #fe5f1e;
    }
    &-wrapper {
      // z-index: 2;
      position: absolute;
      width: 70%;      
      left: -13px;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (max-width: 1400px) {
    &__skeleton {
      margin-right: 0;
    }
  }
}
