.sidebar {
  z-index: 3;
  position: absolute;

  left: 0;
  top: 10px;

  //   padding: 10px 20px;

  padding: 6px 75px;
  background-color: $background;
  border-radius: 0 10px 10px 0;
  transition: 0.2s;

  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    cursor: pointer;
    font-size: 30px;
    color: white;
    transition: 0.2s;
    &:hover {
      text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6);
      transition: 0.2s;
    }
  }
}
.profile {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  & .name {
    font-size: 20px;
    color: white;
  }
  & .avatar {
    background: linear-gradient(180deg, $label-grey, transparent);
    opacity: 0.3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto auto;
    margin-right: 15px;
  }
}

// TEST
.btn-show-test {
  cursor: pointer;
  color: $label-grey;
  opacity: 1 !important;
  font-size: 22px;
}
