@import './variables.scss';
@import './libs/normalize.scss';

@import './components/all.scss';

body {
  background-color: $background;
}
// .container {
//   width: 1200px;
//   margin: auto;
//   padding: 15px 0px;
// }
.wrapper {
  height: 100vh;
}
.container {
  height: 100%;
}
.home {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 8% 5%;
  padding-left: 0;
  padding-bottom: 0;
  // height: 350px;
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    &:first-child {
      width: 0%;
    }
  }
}
.title {
  position: absolute;
  bottom: -25%;
  left: 0;
  color: white;
  transform: rotate(-90deg);
  transform-origin: top left;
  font-size: 140px;

  text-transform: uppercase;
  background: linear-gradient(45deg, $gradient-color1, $gradient-color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// MENU

.panorama-main {
  width: 100%;
  height: 100%;
}
.mini-map {
  z-index: 3;
  position: absolute;
  right: 20px;
  bottom: 80px;
  width: 350px;
  height: 220px;

  border-radius: 25px;
  overflow: hidden;
}
.kopernik-img {
  width: 70%;
  animation: 2s move-up-down ease-in-out infinite;
}

.copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-top: 5%;
  a {
    color: $label-grey;
  }
}

@keyframes move-up-down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(12px) rotate(-2deg);
  }
  100% {
    transform: translateY(0px);
  }
}
